<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>科研后台管理系统</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="/tables"><span class="glyphicon glyphicon-pencil"></span> 教师信息管理</a></li>
        <li   class="active"><a href="/main2"><span class="glyphicon glyphicon-dashboard"></span> 总成果分析</a></li>
        <li><a href="/show2"><span class="glyphicon glyphicon-info-sign"></span> 总成果展示</a></li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> 更多 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="#">
                        <span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
                    </a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="divider"></li>
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span> 登录</a></li>
    </ul>

</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">总成果分析</h3>
        </div>
    </div><!--/.row-->



    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">总报表分析</div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                    </div>
                </div>



                <!--					<div class="panel-heading">获奖情况</div>-->
                <!--					<table width="90%" class="table" id="table">-->
                <!--						<thead id="thread">-->
                <!--						<tr id="tr" class="tr">-->
                <!--							<th>工号</th><th>姓名</th><th>密码</th><th>入职时间</th><th>职位</th><th>职称</th><th> </th>-->
                <!--						</tr>-->
                <!--						</thead>-->

                <!--						<tr th:each = "i:${show_result}">-->
                <!--							<td th:text = "${i.tid}"></td>-->
                <!--							<td th:text = "${i.name}"></td>-->
                <!--							<td th:text = "${i.time}"></td>-->
                <!--							<td th:text = "${i.level}"></td>-->
                <!--							<td th:text = "${i.certificate}"></td>-->
                <!--							<td><img src="../img/1.jpg"></td>-->
                <!--						</tr>-->

                <!--					</table>-->
                <!--				</div>-->
                <!--			</div>-->
                <!--		</div>&lt;!&ndash;/.row&ndash;&gt;-->





            </div><!--/.col-->
        </div><!--/.row-->
    </div>	<!--/.main-->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <!--	<script src="js/chart-data.js"></script>-->
    <script src="js/easypiechart.js"></script>
    <script src="js/easypiechart-data.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>


    <script>
        //var randomScalingFactor = function(){ return Math.round(Math.random()*1000)};


        //var result = new Array;
        $(document).ready(function () {



            $.ajax({
                type:"POST",
                url:"/result_count2",
                dataType:"text",
                success:function (data) {
                    var a = data.substring(1,data.length-1);
                    var arr = new Array();
                    arr = a.split(",");

                    for(var i=0;i<arr.length;i++){

                        lineChartData.datasets[0].data[i] =arr[i]
                    }

                }
            });




        });



        var lineChartData = {
            labels : ["论文","著名教材","立项","专利","获奖成果"],
            datasets : [

                {
                    label: "My Second dataset",
                    fillColor : "rgba(48, 164, 255, 0.2)",
                    strokeColor : "rgba(48, 164, 255, 1)",
                    pointColor : "rgba(48, 164, 255, 1)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(48, 164, 255, 1)",
                    data : ["0","0","0","0","0"]
                }
            ]

        }










        window.onload = function(){
            var chart1 = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true
            });
            // var chart2 = document.getElementById("bar-chart").getContext("2d");
            // window.myBar = new Chart(chart2).Bar(barChartData, {
            // 	responsive : true
            // });
            // var chart3 = document.getElementById("doughnut-chart").getContext("2d");
            // window.myDoughnut = new Chart(chart3).Doughnut(doughnutData, {responsive : true
            // });
            // var chart4 = document.getElementById("pie-chart").getContext("2d");
            // window.myPie = new Chart(chart4).Pie(pieData, {responsive : true
            // });

        };


    </script>
    <script>
        $('#calendar').datepicker({
        });

        !function ($) {
            $(document).on("click","ul.nav li.parent > a > span.icon", function(){
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);

        $(window).on('resize', function () {
            if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
</body>

</html>
